{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'events/styles/base.css' %}" />
  </head>

  <body class="flex flex-col items-center text-xl min-h-screen justify-between">
    <header
      class="flex bg-white items-center border-b border-gray-200 shadow-md px-4 py-2 w-full"
    >
      <h1 class="text-3xl flex-1">
        <a href="{% url 'home' %} "> MyEvents </a>
      </h1>
      <nav class="flex gap-3 items-center text-[14px]">
        <a href=" {% url 'events' %}">Events</a>
        <a href=" {% url 'add-venue' %}">Add Events</a>
        {% comment %} <a href=" {% url 'cal' year month %}">Calendar</a> {% endcomment %}
        <button
          class="py-2 px-2 text-xl bg-teal-600 text-white font-bold rounded border border-gray-600"
        >
          Sign In
        </button>
        <button
          class="py-2 px-4 text-xl bg-red-800 text-white font-bold rounded"
        >
          Log In
        </button>
      </nav>
    </header>
    {% block content %} {% endblock content %}
  </body>

  <footer class="flex p-5 bg-slate-900 text-white gap-4">
    <div class="flex flex-col gap-4 max-w-[50%]">
      <h3 class="text-2xl">About</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quibusdam
        suscipit placeat alias incidunt culpa harum amet dolor omnis. Id totam
        reprehenderit velit. Quos quae saepe debitis, vero sunt doloribus.
      </p>
    </div>
    <div class="flex flex-col gap-4">
      <h3 class="text-2xl">Services</h3>
      <ul class="flex gap-4 flex-col">
        <li>
          <a href="" class="text-teal-300 hover:text-teal-600">Working Hours</a>
        </li>
        <li>
          <a href="" class="text-teal-300 hover:text-teal-600"
            >Privacity Policy</a
          >
        </li>
        <li>
          <a href="" class="text-teal-300 hover:text-teal-600">Contact</a>
        </li>
        <li>
          <a href="" class="text-teal-300 hover:text-teal-600">Platform</a>
        </li>
      </ul>
    </div>
  </footer>
  <script src="https://cdn.tailwindcss.com"></script>
</html>
