{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'events/styles/base.css' %}" />
  </head>

  <body class="flex flex-col items-center text-xl min-h-screen justify-between">
    <header
      class="flex gap-4 bg-white items-center border-b border-gray-200 shadow-md px-4 py-2 w-full"
    >
      <div class="flex-1 flex gap-4 items-center">
        <h1 class="text-3xl">
          <a href="{% url 'home' %} "> MyEvents </a>
        </h1>
        <form action="{% url 'search' %}" method="post" class="flex-1">
          {% csrf_token %}
          <input
            type="text"
            name="search"
            class="bg-slate-100 border border-gray-400 w-full py-1 px-2"
            placeholder="Search for venues here..."
          />
        </form>
      </div>
      <nav class="flex gap-3 items-center text-[14px]">
        <a href=" {% url 'events' %}">Events</a>
        <a href=" {% url 'venues_list' %}">Venues</a>
        <a href=" {% url 'add-venue' %}">Add Events</a>
        {% if not user.is_authenticated %}

        <a
          href=" {% url 'authentication:login' %}"
          class="py-2 px-4 text-xl bg-red-800 text-white font-bold rounded"
          >Log in</a
        >

        <a
          href=" {% url 'authentication:register_user' %}"
          class="py-2 px-2 text-xl bg-teal-600 text-white font-bold rounded border border-gray-600"
        >
          Sign In
        </a>
        
        {% else %}
        <a
        href=" {% url 'authentication:logout' %}"
        class="py-2 px-4 text-xl bg-red-800 text-white font-bold rounded"
        >Logout </a
      >
        {% endif %}
      </nav>
    </header>
        {% if user.is_authenticated %}
        <h1 class="text-3xl">
        Welcome {{user.username}}
        </h1>
{% endif %}
    {% block content %} {% endblock content %}
  </body>
  {% comment %} print message to the use {% endcomment %} {% if messages %} 
  {% for message in messages %}
  <div class="py-2 px-4 text-xl bg-red-800 text-white">{{message}}</div>
  {% endfor %}
  {% endif %}

  <footer class="flex p-5 bg-slate-900 text-white gap-4">
    <div class="flex flex-col gap-4 max-w-[50%]">
      <h3 class="text-2xl">About</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quibusdam
        suscipit placeat alias incidunt culpa harum amet dolor omnis. Id totam
        reprehenderit velit. Quos quae saepe debitis, vero sunt doloribus.
      </p>
    </div>
    <div class="flex flex-col gap-4">
      <h3 class="text-2xl">Services</h3>
      <ul class="flex gap-4 flex-col">
        <li>
          <a href="" class="text-teal-300 hover:text-teal-600">Working Hours</a>
        </li>
        <li>
          <a href="" class="text-teal-300 hover:text-teal-600"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a href="" class="text-teal-300 hover:text-teal-600">Contact</a>
        </li>
        <li>
          <a href="" class="text-teal-300 hover:text-teal-600">Platform</a>
        </li>
      </ul>
    </div>
  </footer>
  <script src="https://cdn.tailwindcss.com"></script>
</html>
